# Dataset and outputs
dataset/
outputs/
config/

# Python venv
venv/
env/
.venv/
*.env

# Python compiled files and cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE configs
.vscode/
.idea/

# OS files
.DS_Store  # macOS
Thumbs.db  # Windows

# Log files
*.log